::selection {
	background-color: blue;
	color: lightblue; 
}


h1
{ 
	color: #8c0000;
	text-align: center;
	border: 2px #8c0000 solid;
	border-radius: 6px / 6px;
	width: 20%;
	margin: auto;
}

body
{
	background-color:#516cb0ad;
}

#bru
{
	color: #8c0000d0; 
}

p
{
	font-size: 20px;
	font-family: comic sans ms, Arial;
}

a
{
	color: #8c0000; 
	text-decoration:none; 
}

#flag {
	width: auto;
	height: 300px;
	border: 2px #8c0000 solid;
	border-radius: 6px / 6px;
}

#carte {
	width: auto;
	height: 300px;
	border: 2px #8c0000 solid;
	border-radius: 6px / 6px;
}

#paysages {
	width: auto;
	height: 300px;
	border: 2px #8c0000 solid;
	border-radius: 6px / 6px;
}

footer {
	border: 2px #8c0000 solid;
	border-radius: 6px / 6px;
	text-align: center;
}